<header class="header">
  <div class="header-container">
    <a routerLink="/painel" class="logo">Money<strong>Mind</strong></a>
    
    <button class="menu-toggle" (click)="toggleMenu()">
        <i class="bi" [class.bi-x]="isMenuOpen" [class.bi-list]="!isMenuOpen"></i>
    </button>
    
    <nav class="nav" [class.open]="isMenuOpen"> 
      <ul>
        <ng-container *ngIf="isLoggedIn()">
          <li><a routerLink="/painel" routerLinkActive="active" (click)="toggleMenu()">Início</a></li>
          <li><a routerLink="/controle-gastos" routerLinkActive="active" (click)="toggleMenu()">Controle de Gastos</a></li>
          <li><a routerLink="/aprender" routerLinkActive="active" (click)="toggleMenu()">Aprender</a></li>
          <li><a routerLink="/calculadora" routerLinkActive="active" (click)="toggleMenu()">Calculadora</a></li>
          <li><a routerLink="/sobre-nos" routerLinkActive="active" (click)="toggleMenu()">Sobre Nós</a></li>
          
          <li>
            <button class="nav-button-icon" (click)="logout(); toggleMenu()">
                <i class="bi bi-person-fill-x"></i>
            </button>
          </li>
        </ng-container>

        <li *ngIf="!isLoggedIn()">
          <a routerLink="/login" (click)="toggleMenu()">Login</a>
        </li>

        <li *ngIf="!isLoggedIn()">
          <a routerLink="/cadastro" (click)="toggleMenu()">Cadastre-se</a>
        </li>

        <li *ngIf="!isLoggedIn()">
          <a routerLink="/sobre-nos" (click)="toggleMenu()">Sobre nós</a>
        </li>
      </ul>
    </nav>
  </div>
</header>